@media (prefers-color-scheme: dark) {
    body { 
        background: #2f3437; 
        color: white; 
    }
}

@media (prefers-color-scheme: light) {
    body { 
        background: white; 
        color: black; 
    }
}