/* Common */
.contents {
    width: 100%;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body { 
        background: #2f3437; 
        color: white; 
    }
}

@media (prefers-color-scheme: light) {
    body { 
        background: white; 
        color: black; 
    }
}

body {
    margin: 0 auto;
}


img {
    width: 50px;
    height: auto;
}

/* Title */
.title {
    width: 400px;
    text-align: center;
    position: relative;
}


/* Body(Core) */
.body {
    position: relative;
    width: 100%;
}

#microphone {
    user-select: none;
    text-align: center;
}

#waveform {
    width: 400px;
    height: 128px;
    padding-bottom: 10px;
}

/* Footer */
.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

button#record {
    padding: 0%;
    border-style: none;
    border-color: white;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}